<h1>Here is a lists of users</h1>

<ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/users/id">Users by id</a></li>
    <li><a href="/users/id/posts">Posts for a users with given id</a></li>
    <li><a href="/users/id/posts/id">Posts by given id for a users by given id</a></li>
</ul>

