<% if @users.empty? %>
    <%= render 'errors/404', value: 'There are no registered users at the moment' %>
<% else %>
    <section class='userlist'>
        <% @users.each do | user | %>
            <%= render "shared/user", user: user %>
        <% end %>
    </section>
<% end %>
