<%# Show posts of a user or no posts meessage %>
<% if posts.empty? %>
    <%= render 'errors/404', value: 'The user has not added any posts' %>
<% else %>
    <section class='posts'>
        <% posts.includes(:comments).each do | post | %>
            <%= render "shared/post", post: post %>
        <% end %>
    </section>
    <% if view_more %>
        <div class="links">
            <div class="button-links">
                <%= link_to "See all posts", user_posts_path(user_id: user) %>
            </div>
        </div>
    <% end %>
<% end %>
