<%# Displays content if there is no matching record(s) %>

<div class="body error-detail">
    <% 
        has_header = header rescue nil
        if has_header 
    %>
        <h1>Not found</h1>
    <% end %>
    <% 
        @value = value rescue nil
        if @value  
    %>
        <span><%= @value %></span>
    <% else %>
        This page does not exist. Please go back.
    <% end %>
</div>
