
<% if @posts.nil? %>
    <%= render 'errors/404', value: 'The specified user has no created blog posts', header: true %>
<% else %>
    <section class='userlist'>
        <%= render 'shared/user', user: @user %>
    </section>
    <%= render "shared/posts", user: @user, posts: @posts, view_more: false %>
<% end %>
