/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: #fff;

  --black: #000;

  margin: 0;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--black);
}

p {
  line-height: 150%;
}

img {
  width: 100%;
  height: auto;
}

.error-detail,
.bio,
.posts,
.userlist {
  padding: 15px;
}

.bio,
.posts {
  padding-top: 0;
}

.detail {
  margin-top: 10px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

form.auth-form {
  width: 300px;
}

.button-links,
.posts .post,
.bio .body {
  border: 1px solid var(--black);
}

.posts .post,
.button-links,
.bio .body,
.posts .comment .body {
  padding: 10px;
}

.posts .post,
.userlist .article,
.posts .comment .body {
  margin-bottom: 20px;
}

.posts .comment .body {
  margin-top: -15px;
}

.posts .comment .body,
.userlist .article a .body,
.userlist .article a .image {
  border: 1px solid var(--black);
}

.posts .post a,
.userlist .article a {
  display: flex;
  align-items: center;
}

.posts .post:last-child,
.userlist .article:last-child {
  margin-bottom: 0;
}

.userlist .article a .image {
  width: 105px;
  overflow: hidden;
  height: 100px;
}

.posts .post a .body,
.userlist .article a .body {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0 10px;
  position: relative;
}

.posts .post a .body {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  padding: 0;
}

.userlist .article a .body h4 {
  font-weight: bold;
  font-size: large;
}

.posts .post .body .counter,
.userlist .article a .body .counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
